@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap");

:root {
  --brown: #542700;
  --lightbrown: #b39b8e;
  --green: #c8e1dd;
  --blue: #bedaf0;
  --lightblue: #e6f3f5;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

/* ===== Scrollbar ===== */

::-webkit-scrollbar {
  background: var(--lightbrown);
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--brown);
}

.art-scroll::-webkit-scrollbar {
  background: var(--lightbrown);
  width: 6px;
  border-radius: 8px;
}

.art-scroll::-webkit-scrollbar-thumb {
  background: var(--brown);
  border-radius: 8px;
}

.ea-text::-webkit-scrollbar {
  background: var(--lightbrown);
  width: 8px;
  border-radius: 0 8px 8px 0;
}

.ea-text::-webkit-scrollbar-thumb {
  background: var(--brown);
  border-radius: 0 8px 8px 0;
}

/* ===== Taille du body ===== */

body {
  height: 100vh;
  width: 100%;
}

a {
  text-decoration: none;
}
/**************** CSS du header  ***************/

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 175px;
  background-color: var(--blue);
  padding: 0 50px;
}

/********** CSS du logo  ********/

header img {
  height: 100px;
  background-color: var(--lightbrown);
  border-radius: 50px;
  padding: 10px;
}

/************ CSS du h1  **********/

h1 {
  font-size: 46px;
  font-weight: 400;
  color: var(--brown);
  font-family: "Pacifico", cursive;
}

/******** CSS du btn login  **********/

.fa-user {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  background-color: white;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  border: solid var(--lightbrown) 10px;
}

/******* CSS de la nav  *********/

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--green);
  padding: 0 25px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 6px 0;
  gap: 12px;
}

nav ul li {
  display: flex;
  justify-content: center;
  width: 30%;
}

header a:visited,
header a {
  text-decoration: none;
  color: var(--brown);
}

nav ul li a {
  font-size: 24px;
  background-color: var(--lightbrown);
  border-radius: 10px;
  padding: 0 40px;
  font-family: "Pacifico", cursive;
}

nav a:hover {
  background-color: var(--brown);
  color: var(--lightbrown);
  transition: 0.25s;
}

/******** CSS barre de recherche *************/

.sb {
  display: flex;
}

.nav-sb {
  background: var(--lightblue);
}

.nav-sb {
  border-radius: 10px 0 0 10px;
  border: 0;
  outline: 0;
  padding: 10px;
  height: 40px;
  width: 100%;
}

.sb input:focus {
  border: 2px solid var(--lightbrown);
}

.fa-magnifying-glass {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 0 10px 10px 0;
  height: 40px;
  width: 35px;
}

.sb button i {
  background: var(--lightblue);
  
  width: 45px;
}

.sb button {
  border: none;
  cursor: pointer;
  border-radius: 0 10px 10px 0;
}

/********** CSS du main de l'index  ***********/
.index {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.section-1 {
  position: relative;
  flex-basis: 70%;
  width: 100%;
  flex-grow: 1;
}

.section-1,
.section-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 7px;
  max-height: 900px;
}

.section-1 form {
  margin: 8px 0;
  background: #fff;
  width: 65%;
}

.sectionresult {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  position: absolute;
  width: 200px;
  top: 54px;
  border-radius: 0 0 15px 15px;
background: var(--lightblue);
}

.section-2 {
  flex-basis: 35%;

  background-color: var(--lightblue);
}

.petit-delices img {
  width: 100%;
  height: 80%;
  border-radius: 12px 12px 0 0;
  object-fit: cover;
}

.petit-delices h4 {
  width: 100%;
  height: 20%;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  padding-top: 8px;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--brown);
  font-family: "Pacifico", cursive;
}

.art-scroll {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;

  width: 100%;
}

.art-scroll a {
  width: 85%;
  color: #000;
}

.articles {
  display: flex;
}

.petit-delices,
.articles {
  margin: 10px;
  min-height: 180px;
  background-color: #fff;
  border: solid var(--lightbrown) 3px;
  border-radius: 15px;
}

.petit-delices {
  width: 90%;
  height: 260px;
  margin-bottom: 10px;
}

.articles img {
  width: 45%;
  border-radius: 12px 0 0 12px;
  object-fit: cover;
}

.right {
  font-family: "Montserrat", sans-serif;
  width: 55%;
  padding: 20px;
}

.right .titre {
  text-align: center;
  margin: 10px 0 20px 0; 
  font-weight: bold;
  font-size: 22px;
}

.right p {
  font-size: 18px;
  text-align: justify;
}

.afficher-article {
  display: none;
}



/******** CSS du login ******/

.login,
.register,
.profil,
.article-page,
.pf-main,
.ea-main,
.dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--lightblue);
}

.container-log,
.container-log form,
.container-reg,
.inscription {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* text-align: center; */
}

.container-log,
.container-reg {
  width: 40%;
  border: 2px solid var(--lightbrown);
  background: #fff;
  border-radius: 15px;
  padding: 10px 5px 20px 5px;
  box-shadow: 8px 10px 24px 2px rgba(0, 0, 0, 0.49);
  margin: 70px;
}

.captcha {
  width: 50%;
  margin: auto;
  background: var(--lightblue);
}
/* 
.captcha img {
  width: 100%;
}

.captcha input:focus {
  outline: none;
  width: 100%;
  padding: 0;
} */


.container-log form {
  gap: 20px;
}

.container-log form input:nth-child(1) {
  margin-top: 10px;
}

.container-log form input {
  width: 90%;
  height: 38px;
  margin: auto;
  padding: 0 20px;
  border-radius: 10px;
  border: 0;
  outline: 0;
  background: var(--lightblue);
}

.container-log form input::placeholder {
  text-align: center;
  color: var(--brown);
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
}

.container-log form input:focus {
  border: 1px solid var(--brown);
}

.container-log button,
.container-reg button, .list-articles button {
  width: 50%;
  margin: auto;
  height: 45px;
  margin-bottom: 30px;
  padding: 0 8px;
  border-radius: 10px;
  border: none;
  background: var(--lightblue);
  color: var(--brown);
  font-size: 16px;
  transition: 0.25s;
  cursor: pointer;
}

.container-log button:hover,
.container-reg button:hover {
  background: var(--brown);
  color: var(--lightblue);
}

.inscription a {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  text-decoration: none;
  color: #000;
}

/******** CSS du register ******/

.container-reg,
.container-reg form {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.container-reg {
  margin: 30px 0;
}

.container-reg form {
  gap: 20px;
}

.container-reg form input:nth-child(1) {
  margin-top: 10px;
}

.container-reg form input {
  width: 90%;
  height: 38px;
  margin: auto;
  padding: 0 20px;
  border-radius: 10px;
  border: 0;
  outline: 0;
  background: var(--lightblue);
}

.container-reg form input::placeholder {
  text-align: center;
  color: var(--brown);
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
}

.container-reg form input:focus {
  border: 1px solid var(--brown);
}

.container-reg button {
  margin-bottom: 5px;
  cursor: pointer;
}

/* ===== Profile ===== */

.pf-main,
.ea-main {
  height: 540px;
}

.pf-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: auto;
  padding: 20px;
  height: 360px;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 8px 10px 24px 2px rgba(0, 0, 0, 0.49);
}

.pf-main h2 {
  margin-bottom: 10px;
}

.compte {
  display: flex;
  align-items: center;
  gap: 50px;
}

.pf-struct {
  display: flex;
  gap: 20px;
}

.col {
  display: flex;
  flex-direction: column;
}

.col input {
  margin: 5px;
  padding: 10px;
  text-align: center;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  width: 100%;

  height: 55px;
  background-color: var(--lightblue);
  border: 0;
  outline: 0;
  border-radius: 15px;
}

.pf-img {
  height: 185px;
  border-radius: 15px;
  border: solid var(--lightblue) 10px;
}

.pf-img img {
  border-radius: 15px;
}

.pf-btn {
  display: flex;
  flex-direction: column;
}

.pf-btn button, .ea-container button {
  cursor: pointer;
  font-size: 24px;
  margin: 5px auto;
  border: 0;
  height: 55px;
  width: 185px;
  border-radius: 10px;
  background-color: var(--lightblue);
  margin: 15px 0 0 0;
}

.pf-info img {
  height: 100%;
}

/* ===== Edit Articles ===== */
.ea-main {
  height: auto;
  padding: 20px;
}
.ea-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 0 auto;
  padding: 30px 20px;
  background-color: #fff;
  height: auto;
  width: 70%;
  border-radius: 15px;
  border: solid var(--lightbrown) 3px;
  box-shadow: 8px 10px 24px 2px rgba(0, 0, 0, 0.49);
}

.ea-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.ea-title img {
  border: solid var(--lightblue) 10px;
  height: 135px;
  border-radius: 10px;
  margin: 0 30px 15px 0;
}

.ea-title input {
  font-size: 24px;
  color: var(--brown);
  border: 0;
  outline: 0;
  height: 55px;
  width: 60%;

  padding: 10px;
  text-align: center;
  border-radius: 15px;
  background-color: var(--lightblue);
}

.input-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.ea-text {
  height: 200px;
  width: 100%;
}

.ea-text textarea {
  background-color: var(--lightblue);
  width: 100%;
  margin: 15px auto;
  height: 200px;
  text-align: justify;
  font-family: "Montserrat", sans-serif;
  padding: 15px;
  border: none;
  border-radius: 10px;
}

/************** CSS de la page des articles  ************/

.article-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 60px;
}

.section-left {
  padding: 30px;
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.entete-article {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 32%;
  /* padding: 20px; */
}

.entete-article img {
  width: 220px;
  height: 100%;
  border: 2px solid var(--lightbrown);
  border-radius: 20px;
}

.title-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-article p {
  font-family: "Pacifico", cursive;
  font-size: 19px;
  font-weight: 400;
}

.title-article {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;

  border-radius: 15px;
  background: var(--lightblue);
  min-width: 200px;
  padding: 15px;
}

.description-article {
  width: 100%;
  height: 80%;
  margin: 0 auto;
  padding: 15px;
  height: 280px;
  border-radius: 20px;
  font-size: 15px;
  background: var(--lightblue);
  font-family: "Montserrat", sans-serif;
}

.section-right,
.section-left {
  display: flex;
  flex-direction: column;
  box-shadow: 8px 10px 24px 2px rgba(0, 0, 0, 0.49);
  border: 2px solid var(--lightbrown);
  height: 520px;
  border-radius: 20px;
  background: #fff;
}

.section-right {
  flex-basis: 35%;
  padding: 10px 20px;
  gap: 15px;
}

.commentaire {
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  background: var(--lightblue);
  font-family: "Montserrat", sans-serif;
  border-radius: 20px;
}

.commentaireForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

}

.commentaireForm input {
  height: 40px;
  width: 80%;
  margin: auto;
  padding: 5px 15px;
  background: #fff;
  border-radius: 15px;
  border: none;
}

.commentaireForm input:focus {
  outline: none;
  border: 2px solid var(--lightbrown);
}

.commentaireForm button {
  width: 30%;
  background: var(--lightbrown);
  border: none;
  height: 25px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}

/******* CSS du dashboard  *********/

.dashboard-container {
  width: 90%;
  border: 2px solid var(--lightbrown);
  border-radius: 20px;
  background: #fff;
  box-shadow: 8px 10px 24px 2px rgba(0, 0, 0, 0.49);
  padding: 10px;
  margin: 20px 0;
  height: 500px;
}

.list-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
  }
  
  .list-users, .list-articles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    flex-basis: 49%;
    padding: 0 10px;
    gap: 22px;
}

.recherche-users, .recherche-articles {
    display: flex;
    justify-content: center;
}

.recherche-users i, .recherche-articles i, .recherche-users label, .recherche-articles label {
    height: 50px;
    background: var(--green);
    border-radius: 0 15px 15px 0;
    cursor: pointer;
}

.recherche-users input, .recherche-articles input {
    height:50px;
    border: 0;
    background-color: var(--green);
    border-radius: 15px 0 0 15px;
    padding: 15px;

}

.recherche-users input:focus, .recherche-articles input:focus {
    outline: none;
    border: 1px solid var(--lightbrown);
}

.list-users-table, .list-article-table {
    display: flex;
    justify-content: center;
    background: var(--lightblue);
    border-radius: 15px;
    width: 90%;
    height: 280px;
    padding: 15px;
}


.separation {
    margin: 20px 25px;
    width: 4px;
    height: 390px;
    background: var(--brown);
}

.list-articles button {
  width: 80%;
  height: auto;
  padding: 10px;
  margin: 0;
}

/**************** CSS du footer  ****************/

footer {
  display: flex;
  align-items: center;
  background-color: var(--blue);
  width: 100%;
  height: 145px;
}

.footer {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.footer ul {
  margin: 0;
}

.line {
  text-decoration: underline;
  font-family: "Pacifico", cursive;

}

.montserrat {
  font-family: "Montserrat", sans-serif;
}

.list1,
.list2,
.list3 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/**** Responsive du site  *****/

@media screen and (max-width: 800px) {
  .header-container {
    flex-direction: column;
    height: auto;
    padding: 15px;
  }

  .fa-user, .header-container img {
    width: 90px;
    height: 90px;
    font-size: 30px;
  }
  
  .header-container img {
    height: 90px;
  }
  
  .header-container h1 {
    font-size: 42px;
  }

  nav {
    flex-direction: column;
    padding: 20px;
    gap: 15px;
  }

  nav ul {
    flex-direction: column;
    gap: 15px;
    padding-top: 0;
    width: 80%;
    margin: auto;
  }

  nav ul li {
    width: 80%;
    margin: auto;
  }

  nav ul li a{
    width: 100%;
    text-align: center;
    padding: 0;
  }

  .sb {
    width: 80%;
  }

  .index {
    flex-direction: column-reverse;
  }

  .section-1 h2, .section-2 h2 {
    font-size: 38px;
  }

  .section-1 {
    margin-bottom: 10px;
  }

  .art-scroll a {
    width: 90%;
  }

  footer {
    height: auto;
    padding: 15px;
  }

  .footer {
    flex-direction: column;
    gap: 20px;
  }

  /* page register  */

  .container-reg , .container-log {
    width: 70%;
  }
  .container-reg form , .container-log form {
    width: 70%;
  }

  .container-log button {
    font-size: 15px;
  }

  /* page profil  */

  .compte {
    flex-direction: column-reverse;
    gap: 30px;
  }

  .pf-main, .ea-main {
    height: auto;
    padding: 20px;
  }

  .pf-container {
    height: auto;
  }

  /* page ediart  */

  .ea-container {
    width: 90%;
    height: auto;
    gap: 30px;
  }

  .ea-title {
    flex-direction: column;
    gap: 15px;
  }

  .image-preview img{
    margin: 0;
    width: 300px;
    height: 100%;
  }

  .ea-title input {
    width: 75%;
  }

  .ea-text {
    height: 250px;
    width: 95%;
  }

  .ea-text textarea {
    height: 250px;
  }

  /* page article  */

  .article-page {
    flex-direction: column;
    padding: 25px 0;
    width: 100%;
    gap: 25px;
  }
  .section-left, .section-right {
    width: 90%;
  }

  .section-left {
    gap: 25px;
  }

  .section-left .img {
    height: 150px;
  }

  .entete-article {
    flex-direction: column;
    gap: 15px;
  }

  .title-container {
    width: 90%;
  }

  .section-right {
    padding-bottom: 18px;
  }

  /* page du dashboard */

  .dashboard-container {
    height: auto;
    padding-bottom: 20px;
  }
  
  .list-container {
    flex-direction: column;
  }

  .separation {
    width: 90%;
    height: 2px;
    margin: 30px auto;
  }
}